* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "area1 area2";
}
.teste {
  grid-area: area1;
}

.rocket {
  grid-area: area2;
  width: 520px;
  margin-top: 20px;
}
